layout {
    pane size="100%" split_direction="vertical" {
        pane size="70%" command="yazi"
        pane size="30%" split_direction="horizontal" {
            pane
            pane
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
